@{
    Layout = "~/Views/Shared/_LayoutAnimeCatalogue.cshtml";
}

<div class="animes">
    <div class="anime">
        <div class="name">
            Hazurewaku no "Joutai Ijou Skill" de Saikyou ni Natta Ore ga Subete wo Juurin suru made
        </div>
        <div class="image-container">
            <img src="~/images/AnimeCatalogue/Isekai.jpg" alt="" />
        </div>
    </div>
    <div class="anime">
        <div class="name">Maou 2099</div>
        <div class="image-container">
            <img src="~/images/AnimeCatalogue/DemonKing.jpg" alt="" />
        </div>
    </div>
    <div class="anime">
        <div class="name">Quan Zhi Gao Shou 3</div>
        <div class="image-container">
            <img src="~/images/AnimeCatalogue/GoldenYear.png" alt="" />
        </div>
    </div>
    <div class="anime">
        <div class="name">Shangri-La Frontier: Kusoge Hunter, Kamige ni Idoman to su 2nd Season</div>
        <div class="image-container">
            <img src="~/images/AnimeCatalogue/MMORPG.jpg" alt="" />
        </div>
    </div>
</div>