@using WebPortalEverthing.Models.Cake
@using WebPortalEverthing.Localizations
@model CakeProfileViewModel

@{
    Layout = "~/Views/Shared/_LayoutCake.cshtml";
}

<div>
    <h1>@Cake.Profile_Avatar:</h1>
    <img src="@Model.ImageUrl" class="avatar" />
</div>
<div>
    <form action="/Cake/UpdateAvatar" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <button type="submit">@Cake.Profile_Send</button>
    </form>
</div>