.pageName {
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.anime {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.imageName {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}

.animeImage {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}

    .animeImage img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
    }
