.pageName {
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между блоками */
}

.anime {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd; /* Опционально: рамка для блока */
    padding: 10px;
    box-sizing: border-box;
}

.imageName {
    font-size: 1.2em; /* Размер шрифта для названия */
    text-align: center;
    margin-bottom: 10px; /* Отступ снизу для разделения с картинкой */
    padding: 0; /* Убираем дополнительные отступы */
}

.animeImage {
    width: 100%;
    border-radius: 8px; /* Закругление краев изображения */
    overflow: hidden; /* Обрезка изображения, если оно выходит за пределы блока */
    margin-bottom: 15px; /* Отступ снизу для разделения с кнопкой */
}

    .animeImage img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px; /* Повторное закругление на изображении */
    }
