@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Load Testing</title>
    <link href="~/css/LoadTesting/reset.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/fire-fon.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/style.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/button-list.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/avatar.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/discription-tipes.css" rel="stylesheet" />

    <link href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <div class="logo-header">
            <img src="./images/logo.jpg" alt="logo-header" />
        </div>
        <div class="name">LOAD TESTING</div>
        <div class="profile-blok">
            <div class="avatar">
                <img src="images/avatar.jpg" alt="avatar" class="avatar-image" />
            </div>
            <a href="https://example.com/login" class="login-button">Логин</a>
        </div>
    </div>

    <!-- Прозрачный фон под списком кнопок с переливающимся фоном -->
    <div class="fire-fon"></div>

    <div class="buttona-and-content">
        <div class="button-list">
            <ul>
                <li>
                    <a href="https://example.com" class="button"><span>Кнопка 1</span></a>
                </li>
                <li>
                    <a href="https://example.com" class="button"><span>Кнопка 2</span></a>
                </li>
                <li>
                    <a href="https://example.com" class="button"><span>Кнопка 3</span></a>
                </li>
            </ul>
        </div>

        <div class="content">
            @RenderBody();
        </div><!-- Закрытие блока .content -->

    </div>  <!-- Закрытие блока .buttona-and-content -->
</body>
</html>
