@using WebPortalEverthing.Models.AnimeCatalog
@model List<AnimeCatalogViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAnimeCatalog.cshtml";
}

<div class="animes">
    @foreach (var anime in Model)
    {
        <div class="anime">
            <div class="name">
                @anime.Name
            </div>
            <div class="image-container">
                <img src="@anime.ImageSrc" alt="" />
            </div>
        </div>
    }
</div>
@*  <div class="anime">
        <div class="name">
            Hazurewaku no "Joutai Ijou Skill" de Saikyou ni Natta Ore ga Subete wo Juurin suru made
        </div>
        <div class="image-container">
            <img src="~/images/AnimeCatalog/Anime1.jpg" alt="" />
        </div>
    </div>
    <div class="anime">
        <div class="name">Maou 2099</div>
        <div class="image-container">
            <img src="~/images/AnimeCatalog/Anime2.jpg" alt="" />
        </div>
    </div>
    <div class="anime">
        <div class="name">Quan Zhi Gao Shou 3</div>
        <div class="image-container">
            <img src="~/images/AnimeCatalog/Anime3.png" alt="" />
        </div>
    </div>
    <div class="anime">
        <div class="name">Shangri-La Frontier: Kusoge Hunter, Kamige ni Idoman to su 2nd Season</div>
        <div class="image-container">
            <img src="~/images/AnimeCatalog/Anime4.jpg" alt="" />
        </div>
    </div>*@

