@using WebPortalEverthing.Models.AnimeCatalog
@model List<AnimeCatalogViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAnimeCatalog.cshtml";
}
@section Scripts
{
    <script src="~/js/AnimeCatalog/index.js"></script>
}

<div class="animes">
    @foreach (var anime in Model)
    {
        <div class="anime">
            <div class="name">
                @anime.Name
            </div>
            <div class="image-container">
                <img src="@anime.ImageSrc" alt="" />
            </div>
        </div>
    }
</div>