header.page-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    font-size: 25px;
    border-bottom: 1px #290c73 solid;
}

header .logo {
    display: flex;
    align-items: center;
}

    header .logo img {
        max-height: 50px;
    }

header .name {
    text-transform: uppercase;
}

.menu-plus-content {
    display: flex;
}

.profile-block {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

    .profile-block .avatar {
        max-height: 50px;
    }

    .profile-block .logout {
        height: 40px;
        width: 21px;
    }

.profile .avatar {
    max-width: 300px;
    max-height: 300px;
}

.menu {
    width: 200px;
    border-right: 1px #ccc solid;
}

    .menu a {
        margin: 3px;
        display: block;
    }

.girls {
    display: flex;
    flex-wrap: wrap;
}

    .girls.highlight-is-active .girl {
        opacity: 0.2;
    }

        .girls.highlight-is-active .girl.highlighted {
            opacity: 1;
        }

.girl {
    margin: 10px;
    width: 200px;
}

    .girl .name {
        display: flex;
        justify-content: center;
    }

        .girl .name input {
            width: 140px;
        }

    .girl .image-container {
        height: 200px;
        display: flex;
        align-items: center;
    }

        .girl .image-container img {
            max-width: 200px;
            max-height: 200px;
        }

        .girl .image-container.full {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
        }

            .girl .image-container.full img {
                max-width: 100%;
                max-height: 100%;
            }


    .girl .additional-info {
        border-top: 1px #ccc solid;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

        .girl .additional-info .tag {
            border: 3px #290c73 solid;
            display: inline-block;
            border-radius: 5px;
            margin: 3px;
            padding: 3px;
            cursor: pointer;
        }

.mangas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.manga {
    border: 1px #ccc solid;
    margin: 5px;
}

    .manga .name {
        font-weight: 700;
    }

    .manga .girl {
        border: 1px #ccc solid;
        padding: 5px;
    }

.special {
    color: darkred;
    font-size: 30px;
}

.girl.Uniq.Original {
    border: 3px solid green;
}

.girl.NotUniq.Original {
    border: 3px solid orange;
}

.girl.NotUniq.Duplicate {
    border: 3px solid red;
}

.tag-container {
    display: none;
    position: absolute;
    background: antiquewhite;
    top: 47px;
    z-index: 100;
}
