@using WebPortalEverthing.Models.LoadTesting
@model LoadTestingContentViewModel1

@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<div class="content">
    <div class="discription-tipes">
        @foreach( var metric in Model.Metrics )
        {
            <div class="discription-type">
                <div class="type-name">@metric.Name</div>
                <div class="type-guid">GUID : @metric.GUID</div>
                <div class="type-container">
                    <img src="~/images/LoadTesting/photo_2024-07-15_09-13-16.jpg" alt="type1" />
                </div>
                <div class="additional-info">
                    @if( Model.Metrics != null && Model.Metrics.Count > 0 )
                    {
                        <span class="tag">скорость обработки (Throughput): @metric.Throughput </span>
                    } else
                    {
                        <span class="tag">Данные отсутствуют</span>
                    }
                    <span class="tag">среднее время отклика (Average): @metric.Average</span>
                </div>
            </div>
        }

        <!-- Закрытие блока .discription-tipes -->
    </div>
</div>