@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}
<div class="oval-form">
    <div class="input-container">
        <div class="title">Введите данные профайла</div>
        <input type="text" name="Throughput" placeholder="Throughput" required />
        <input type="text" name="Average" placeholder="Average" required />
        <button type="submit">Создать</button>
    </div>
</div>