.icon::before {
    content: ' ';
    display: flex;
    width: 24px;
    height: 24px;
    /*background-color: aqua;*/
    justify-content: center;
    align-items: center;
}

.icon.like::before {
    background-image: url('/images/icon/favorite_24_normal.svg');
}

.icon.like-pushed::before {
    background-image: url('/images/icon/favorite_24_pushed.svg');
}
.icon.dislike::before {
    background-image: url('/images/icon/thumb_down_24_normal.svg');
}

.icon.dislike-pushed::before {
    background-image: url('/images/icon/thumb_down_24_pushed.svg');
}