.menu-plus-content{
    display: flex;

}
.page-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 25px;
}
header .logo img{
    max-height: 70px;
}
header .logo{
    font-size: 0;
}
body{
    background: #25132b;
    color: white;
}
header .navigation ul{
    display: ruby;
    
}
.navigation li{
    margin: 10px;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.menu-plus-content .menu{
    width: 200px;
    padding: 10px;
    border-right: 1px white solid;
    border-radius: 10px;
}
.menu a{
    margin: 5px;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: white;
    
}
.Featured-Recommended{
    display: flex; 
    width: 100%; 
    justify-content: space-around; 
}
.game-block .image-container{
    width: 100px;
    height: 200px;
    align-items: center;
    display: flex;
}
    .game-block .image-container.full{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .game-block .image-container img {
        max-height: 200px;
        max-width: 200px;
    }
    .game-block .image-container.full img {
        max-height: 100%;
        max-width: 100%;
    }

.game-block{
    margin: 100px;
}
.game-block .name{
    display: flex;
    justify-content: center;
}
    .game-block .name .edit-mode {
        display:none;
    }
        .game-block.create .name .edit-mode{
            display:block;
        }
        .game-block .name .view-mode {
            cursor: pointer;
        }
        .game-block .name .icon{
            cursor: pointer;
        }
.content .title{
    margin: 10px;
}
.Special-Offers{
    display: flex; 
    width: 100%; 
    justify-content: space-around; 
}
.content{
    display:flex;
    flex-wrap: wrap;
}
    .content .highlight-is-active .game-block{
        opacity: 0.2;
    }
        .content .highlight-is-active .game-block.highlighted {
            opacity: 1;
        }
        .content .studios {
            margin: 10px;
        }
.profile-block {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
    .profile-block .avatar {
        max-height: 50px
    }

 .profile .avatar {
     max-width: 300px;
     max-height: 300px;
 }
.profile .username {
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    color: #4CAF50; 
    letter-spacing: 1.5px; 

}
.info {
    display: none;
    position: absolute;    
}
    .info.create {
        display: block;
        position: absolute;
    }
.info .tag{
    cursor: pointer;
}
.template{
    display: none;
}