@using WebPortalEverthing.Models.CoffeShop;
@model List<CoffeViewModel>
@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}


<div class="content">
    <div class="catalog-filter">
        <div class="menu">
            <span class="catalog">Фильтры</span>
            <div class="catalog-filter-item">
                <span class="catalog-filter-subtitle"> Тип кофе </span>
                <div class="catalog-filter-block">
                    <ul class="tags">
                        <li>
                            <input type="radio" id="latte" name="coffee-type" class="filter-radio" />
                            <label for="latte">Latte</label>
                        </li>
                        <li>
                            <input type="radio" id="americano" name="coffee-type" class="filter-radio" />
                            <label for="americano">Americano</label>
                        </li>
                        <li>
                            <input type="radio" id="raf" name="coffee-type" class="filter-radio" />
                            <label for="raf">Raf</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="catalog-filter-item">
                <span class="catalog-filter-subtitle"> Бренд </span>
                <div class="catalog-filter-block">
                    <ul class="tags">
                        <li>
                            <input type="radio" id="breda" name="brend-type" class="filter-radio" />
                            <label for="breda">Breda</label>
                        </li>
                        <li>
                            <input type="radio" id="danesi" name="brend-type" class="filter-radio" />
                            <label for="danesi">Danesi</label>
                        </li>
                        <li>
                            <input type="radio" id="costadoro" name="brend-type" class="filter-radio" />
                            <label for="costadoro">Costadoro</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @foreach (var coffe in Model)
        {
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="#"><img src="@coffe.Url" alt="coffe" /></a>
                    </div>
                    <div class="product-content">
                        <span class="product-name"> @coffe.Coffe </span>
                        <span class="product-price"> @coffe.Cost $</span>
                    </div>
                    <div class="product-bottom">
                        <a class="product-button">
                            Купить
                        </a>
                        <a class="bag-product-button">
                            В корзину
                        </a>
                    </div>
                    <div class="sales">      
                    </div>
                </div>
            </div>
        }
    </div>
</div>