@section Scripts {
    <script src="~/js/CoffeShop/Chat.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/CoffeShop/chat.css" />
}

@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}

<div class="chat-container">
    <h2>Сообщения от пользователей: </h2>
    <div class="coffe-messages">
        <div class="coffe-message template" style="display: none;">
            <span class="message-text">***</span>
        </div>
    </div>

    <ul class="pagination">
    </ul>
</div>

