* {
    margin: 0;
    padding: 0;
}

.discription-tipes {
    display: flex; /*слева-направо*/
    flex-wrap: wrap; /* Перенос элементов на следующую строку при переполнении */
    width: 100%; /* Используем гибкую ширину для адаптации */
    
    justify-content: flex-start; /* Выравнивание элементов по левому краю */
}
    background-image: linear-gradient( 45deg, rgba(98, 0, 255, 0.4), rgba(225, 0, 255, 0.4), rgba(43, 1, 14, 0.4), rgba(255, 69, 0, 0.4) ) !important; /* Фиксируем фон, чтобы он не наследовался */
    background-size: 300% 300%; /* Увеличиваем размер для эффекта перелива */
    animation: fireGlow 4s ease infinite; /* Анимация для перелива */
    border-radius: 20px; /* Красивая закругленная форма для фона */
    opacity: 1; /* Немного прозрачный фон */ /* Фоновый цвет кнопки */

    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем границу */
    border-radius: 20px; /* Закругление углов */
    overflow: hidden; /* Прячем лишние элементы */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Плавный переход для прозрачности */
    margin: 10px 0; /* Отступы 50px сверху и снизу между кнопками */
    opacity: 1; /* 0.5 Прозрачность кнопки на 50% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 -2px 8px rgba(255, 165, 0, 0.6); /* Эффект выпуклости и подсветки */
}
/* Анимация для переливающегося фона */
@keyframes fireGlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.discription-type {
    margin: 10px;
    width: 200px;
}

    .discription-type .type-name {
        display: flex;
        justify-content: center;
        font-size: 40px; /* Устанавливает размер шрифта 24 пикселя */
        margin: 10px;
    }

    .discription-type .type-guid {
        font-size: 20px; /* Устанавливает размер шрифта 20 пикселя */
        margin: 10px;
    }

    .discription-type .type-container {
        height: 200px;
        display: flex;
        align-items: center;
    }

        .discription-type .type-container img {
            max-width: 200px;
            max-height: 200px;
        }

    .discription-type .additional-info {
        display: grid;
        border-top: 1px #ccc solid;
        /* display: flex;*/
        flex-wrap: wrap; /*разрешаешь детей переносить на след. строку*/
    }

        .discription-type .additional-info .tag {
            border: 3px rgb(243, 9, 204);
            display: inline-block;
            border: radius 2px;
            margin: 3px;
        }
