* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* Стили для body */
body {
    background-image: url("./images/LoadTesting/7.png");
    background-size: cover; /* Изменено на cover для лучшего отображения */
    background-repeat: no-repeat;
    background-color: rgb(35, 38, 39);
    margin: 0;
    background-position: center 250px;
}

.header {
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid transparent;
  animation: flame 1.5s infinite alternate;
}

.logo-header {
  max-height: 250px;
  border-radius: 70px;
}

    .logo-header img {
        width: 150px; /* Задаём желаемую ширину */
        height: auto; /* Высота будет пропорциональна ширине */
        max-width: 100%; /* Для адаптивности, чтобы не превышать размер родителя */
        margin-right: 200px; /* Отступ справа */
        box-shadow: 0 36px 12px rgba(0, 0, 0, 0.4),
        /* Увеличение тени при наведении */ inset 0 -2px 8px rgba(255, 165, 0, 0.8); /* Подсветка при наведении */
        border-radius: 50%; /* Закругление углов для круглой формы */
    }

.name {
    font-size: 70px;
    color: darkviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    /* Свечение и черный контур вокруг текста */
    text-shadow: -1px -1px 0 rgba(75, 0, 130, 1), /* Контур слева сверху (тёмно-фиолетовый) */
    1px -1px 0 rgba(75, 0, 130, 1), /* Контур справа сверху (тёмно-фиолетовый) */
    -1px 1px 0 rgba(75, 0, 130, 1), /* Контур слева снизу (тёмно-фиолетовый) */
    1px 1px 0 rgba(75, 0, 130, 1), /* Контур справа снизу (тёмно-фиолетовый) */
    0px 15px 30px rgb(245, 154, 119), /* Свечение снизу */
    0px -10px 15px rgb(192, 243, 7); /* Свечение сверху */
}

@keyframes flame {
  0% {
    border-top-color: rgb(100, 14, 14);
    box-shadow: 0px -5px 10px rgb(75, 2, 2), 0px -10px 15px orange;
  }
  50% {
    border-top-color: rgb(180, 90, 6);
    box-shadow: 0px -5px 15px orange, 0px -10px 15px rgb(219, 152, 6);
  }
  100% {
    border-top-color: rgb(247, 163, 9);
    box-shadow: 0px 15px 30px rgb(245, 154, 119),
      0px -10px 15px rgb(192, 243, 7);
  }
}
.buttona-and-content {
  display: flex;
  position: relative;
}

.fridaysRemaining {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    text-shadow: 0px 15px 30px rgb(245, 154, 119), 0px -10px 15px rgb(192, 243, 7);
}