@using WebPortalEverthing.Models.Ecology
@model List<EcologyViewModel>

@{
    Layout = "~/Views/Shared/_LayoutEcology.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/Ecology/style.css">

<form method="post" action="/Ecology/EcologyChat">
    <div class="url">
        <label for="imageUrl">Entet image URL:</label>
        <input type="text" id="imageUrl" name="Url" />
    </div>
    <div class="text">
        <label for="imageText">Enter text:</label>
        <input type="text" id="imageText" name="Text" />
    </div>
    <div class="submit">
        <button type="submit">Submit</button>
    </div>
</form>

@if (Model != null && Model.Count > 0)
{
    <div class="newpost">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <img src="@item.ImageSrc" class="post" alt="Picture" />
                    <p>@item.Texts.FirstOrDefault()</p>
                </li>
            }
        </ul>
    </div>
}