@using WebPortalEverthing.Models.Ecology
@model List<EcologyViewModel>

@{
    Layout = "~/Views/Shared/_LayoutEcology.cshtml";
}

<head>
    <link href="~/css/Ecology/style.css" rel="stylesheet" />
</head>

<form method="post" action="/Ecology/EcologyChat">
    <label for="imageUrl">Entet image URL:</label>
    <input type="text" id="imageUrl" name="Url" />
    <br />
    <label for="imageText">Enter text:</label>
    <input type="text" id="imageText" name="Text" />
    <br />
    <button type="submit">Submit</button>
</form>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img src="@item.ImageSrc" class="image-in-poster" alt="Picture" />
                <p>@item.Texts.FirstOrDefault()</p>
            </li>
        }
    </ul>
}