@using WebPortalEverthing.Localizations
@using WebPortalEverthing.Models.Ecology
@model LocationViewModel

@section Scripts {
    <script src="~/js/Ecology/map.js"></script>
    <link rel="stylesheet" href="~/css/Ecology/map.css" />
}

<div class="map-page">
    <div class="map-container">
        <input type="hidden" class="user-id" value="@Model.UserId" />
        <input type="hidden" class="user-name" value="@Model.UserName" />
        <div id="map"></div>
    </div>
    <div class="text-center">
        <div>Welcome @(string.IsNullOrEmpty(Model.UserName) ? "Guest" : Model.UserName)</div>
    </div>
</div>
