@using WebPortalEverthing.Models.Ecology

@{
    Layout ="~/Views/Shared/_LayoutEcology.cshtml";
}

<div class="advices">
    <div class="advice">
        <div class="advice-image">
            <img src="~images/Ecology/renewable.JPG" alt="Image 1"/>
            <img src="~images/Ecology/bicycle.JPG" alt="Image 2"/>
            <img src="~images/Ecology/recycling.JPG" alt="Image 3"/>
        </div>
        <div class="advice-info">
            <div class="text">
            <p>Using renewable energy will reduce carbon emissions</p>
            <p>Using a bicycle instead of car helps to reduce air pollution</p>
            <p>The shit from disposable plastic bags to reusable bags reduce the amount of plastic waste.
            Sorting and recycling of waste helps reduce the amount of garbage in landfills and conserve natural resources</p>
            </div>
        </div>
    </div>
</div>