@model WebPortalEverthing.Models.Ecology.EcologyViewModel
@{
    Layout ="~/Views/Shared/_LayoutEcology.cshtml";
}

<div class="content">
    <div class="advices">
        <div class="advice">
            <div class="advice-image">
                <img src="/images/Ecology/renewable.JPG" alt="advice"/>
            </div>
            <div class="advice-info">
                <span class="text">Using renewable energy will reduce carbon emissions</span>
             </div>
        </div>
        <div class="advice">
            <div class="advice-image">
                <img src="/images/Ecology/bicycle.JPG" alt="advice"/>
            </div>
            <div class="advice-info">
                <span class="text">Using a bicycle instead of car helps to reduce air pollution</span>
                </div>
        </div>
        <div class="advice">
            <div class="advice-image">
                <img src="/images/Ecology/recycling.JPG" alt="advice"/>
            </div>
            <div class="advice-info">
                <span class="text">Sorting and recycling of waste helps reduce the amount of garbage in landfills and conserve natural resources</span>
            </div>
        </div>
    </div>
</div>