@model WebPortalEverthing.Models.LoadTesting.GameLife.FieldViewModel

<!DOCTYPE html>
<html lang="ru">

<body>


    <div>
        <form method="post">
            <div class="create-field-form">
                <div class="create-field-form-title"> Введите размер поля (max 20) </div>
                <div class="input-container">
                    @Html.TextBoxFor(m => m.Rows, new { placeholder = "Rows" })
                    @Html.TextBoxFor(m => m.Cols, new { placeholder = "Cols" })
                    <button type="submit">Создать</button>
                </div>
            </div>
        </form>
    </div>

    <div class="game-life">
        <div class="game-life-title">Game "Life"</div>
        <div id="game-life-field" class="game-life-field">
            @for( int i = 0 ; i < Model.Cols ; i++ )
            {
                <div class="row">
                    @for( int j = 0 ; j < Model.Rows ; j++ )
                    {
                        <span class="cell @(Model.Cells[i, j].IsAlive ? "alive" : "")">
                            @(Model.Cells[i, j].IsAlive ? "+" : "-")
                        </span>
                    }
                </div>
            }
        </div>
    </div>


</body>
</html>
