<div class="text-center">
    <div>
        Если вам хочется полюбоваться на аниме девочек то вас <a href="/AnimeGirl/Index">сюда</a>
    </div>
    <div>
        Не знаешь что посмотреть на выходных? Тогда тебе <a href="/MoviePoster/Index">сюда</a>
    </div>
    <div>
        If you are interested in ecology click <a href="/Ecology/Index">here</a>
    </div>
    <div>
        <a href="/Surveys/Index">Создать и пройти опрос</a>
    </div>
    <div>
        Если вы хотите заказать кофе и всё для него, то вам <a href="/CoffeShop/Index"> сюда</a>
    </div>
    <div>
        Если вам нужно посмотреть все типы устройств, переходите <a href="/TypeOfAppliance/AllTypeOfAppliances">сюда</a>!
        Хотите создать новый тип устройства, нажмите <a href="/TypeOfAppliance/CreateTypeOfAppliance">здесь</a>!
    </div>
    <div>
        If u wanna see anime catalog -> <a href="/AnimeCatalog/Index"> go here</a>
    </div>
    <div>
        А если хотите узанть про классы в ДНД, то сюда <a href="/DND/Index">сюда</a>
    </div>
    <div>Load Testing
    <div>
        Load Testing
        <a href="/LoadTesting/ContenMetricsListView">  ʕ •ᴥ•ʔゝ☆ </a>
    </div>
    <div>
        Game "Life"
        <a href="/GameLife/GameLifeDefault"> ʕʘ̅͜ʘ̅ʔ</a>
    </div>
    <div>
        Посмотреть на лабиринт можно <a href="/Maze"> тут </a>
    </div>

    <div>
        Simulator of printing <a href="/SimulatorOfPrinting/TextToTypping"> here </a>
    <div> 
        Выгодно приобрести игру можно <a href="/GameStore/Index"> тут</a>
    </div>
    <div>
        Поиграть в Быки и Коровы можно <a href="/BullsAndCows"> тут </a>   
    </div>
</div>
