<div class="text-center">
    <div>
        Если вам хочется полюбоваться на аниме девочек то вас <a href="/AnimeGirl/Index">сюда</a>
    </div>
    <div>
        Не знаешь что посмотреть на выходных? Тогда тебе <a href="/MoviePoster/Index">сюда</a>
        If you are interested in ecology click <a href="/Ecology/Index">here</a>
        <a href="/Surveys/Index">Создать и пройти опрос</a>
    </div>
    <div>
        Если вы хотите заказать кофе и всё для него, то вам<a href="/CoffeShop/Index"> сюда</a>
    </div>
    <div>
        If u wanna see anime catalog -> <a href="/AnimeCatalog/Index"> go here</a>
    </div>
    <div>Load Testing
        <a href="/LoadTesting/ContenMetricsListView">  ʕ •ᴥ•ʔゝ☆ </a>
    </div>

    <div>
        Посмотреть на лабиринт можно <a href="/Maze"> тут </a>
    </div>
</div>
