<div class="text-center">
    <div>
        Если вам хочется полюбоваться на аниме девочек то вас <a href="/AnimeGirl/Index">сюда</a>
    </div>
    <div>
        If you are interested in ecology click <a href="/Ecology/Index">here</a>
        <a href="/Surveys/Index">Создать и пройти опрос</a>
    </div>
    <div>
        Если вы хотите заказать кофе и всё для него, то вам<a href="/CoffeShop/Index"> сюда</a>
    </div>
    <div>
        А если хотите узанть про классы в ДНД, то сюда <a href="/DND/Index">сюда</a>
    </div>
</div>
