@model WebPortalEverthing.Models.GameStudios.CreateStudiosViewModel

@{
    Layout = "~/Views/Shared/_LayoutGameStore.cshtml";
}
<form method="post">
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Name" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Description, new { placeholder = "Description for company" })
    </div>

    <button type="submit">Add</button>
</form>
