@using WebPortalEverthing.Models.GameStore

@model GameViewModel

@{
    Layout = "~/Views/Shared/_LayoutGameStore.cshtml";
}


<div class="title">
    Hello! @Model.UserName
    <div>
        Today @Model.Date and Game of Day @Model.NameGame
    </div>
</div>

