@{
    Layout = "~/Views/Shared/_LayoutGameStore.cshtml";
}
<div class="content">
    <div class="title">Featured & Recommended</div>
    <div class="Featured-Recommended">
        <div class="game-block">
            <div class="name">Baldur’s Gate III</div>
            <div class="image-container">
                <img src="~/images/GameStore/Game1.jpg" alt="BG 3">
            </div>
            <div class="info">
                <span class="tag">RPG</span>
                <span class="tag">100$</span>
            </div>
        </div>

        <div class="game-block">
            <div class="name">Borderlands 3</div>
            <div class="image-container">
                <img src="~/images/GameStore/Game2.jpg" alt="Borderlands">
            </div>
            <div class="info">
                <span class="tag">Shuter</span>
                <span class="tag">60$</span>
            </div>
        </div>
        <div class="game-block">
            <div class="name">Silent Hill 2</div>
            <div class="image-container">
                <img src="~/images/GameStore/Game3.jpg" alt="Silent Hill">
            </div>
            <div class="info">
                <span class="tag">Action</span>
                <span class="tag">70$</span>
            </div>
        </div>
    </div>
    <div class="title">Special Offers</div>
    <div class="Special-Offers">
        <div class="game-block">
            <div class="name">Dota 2</div>
            <div class="image-container">
                <img src="~/images/GameStore/Game4.jpg" alt="DOTA">
            </div>
            <div class="info">
                <span class="tag">MMO</span>
                <span class="tag">Free</span>
            </div>
        </div>

        <div class="game-block">
            <div class="name">Counter-Strike 2</div>
            <div class="image-container">
                <img src="~/images/GameStore/Game5.jpg" alt="CS">
            </div>
            <div class="info">
                <span class="tag">Shuter</span>
                <span class="tag">Free</span>
            </div>
        </div>
        <div class="game-block">
            <div class="name">Warcraft III</div>
            <div class="image-container">
                <img src="~/images/GameStore/Game6.jpg" alt="Warcraft">
            </div>
            <div class="info">
                <span class="tag">Action</span>
                <span class="tag">10$</span>
            </div>
        </div>
    </div>
</div>