form .survey {
    margin: 10px;
}

input {
    margin: 3px 0px;
    border-color: #6d797678;
    border-radius: 5px;
}

.actions .save-button {
    border: 0;
    background: #7dbf26;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
}

.survey .round-border {
    border: 1px solid;
    border-color: grey;
    border-radius: 7px;
    margin: 5px 0px;
    padding: 10px;
}

.question.template {
    display: none;
}

.question .answer-option {
    display: flex;
    justify-content: space-between;
}