<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cake</title>
    <link rel="stylesheet" href="/css/Cake/style.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="menu">
                    <li><a href="/">Main</a></li>
                    <li><a href="/Cake">All cakes</a></li>
                    <li><a href="#">Admin</a></li>
                    <li>
                        <a href="/Cake/Create">Add Cake &bigtriangledown;</a>
                        <ul>
                            <li><a href="/Magazin/Create">Add Magazin</a></li>
                            <li><a href="/Cake/Link">Add Link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">View my creations</a></li>
                </ul>
            </nav>
            <div class="profile">
                <img src="~/images/Cake/Profile.jpg" alt="profile">
            </div>
        </div>
    </header>

    <main>
        <section class="list-cakes">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </main>
</body>
</html>