@using WebPortalEverthing.Services
@inject AuthService authService
@inject UserService userService
<!DOCTYPE html>
<html>
<head>
    <title>Cake</title>
    <link rel="stylesheet" href="~/css/Cake/style.css" />
    <link rel="stylesheet" href="~/css/Cake/table.css" />
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="menu">
                    <li><a href="/">Main</a></li>
                    <li><a href="/Cake">All cakes</a></li>
                    @if (authService.IsAdmin())
                    {
                        <li>
                            <a href="/Cake/Admin">Admin</a>
                        </li>
                    }
                    @if (authService.IsAuthenticated())
                    {
                        <li>
                            <a href="/Cake/Create">Add Cake &bigtriangledown;</a>
                            <ul>
                                <li><a href="/Magazin/Create">Add Magazin</a></li>
                                <li><a href="/Cake/Link">Add Link</a></li>
                            </ul>
                        </li>
                    }
                    @if (!authService.IsAdmin() && authService.IsAuthenticated())
                    {
                        <li><a href="/Cake/MyCreation">View my creations</a></li>
                    }
                </ul>
            </nav>
            <div class="profile">
                <a href="/Cake/Profile">
                    <img src="@userService.GetAvatar()" alt="profile">
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="list-cakes">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </main>
</body>
</html>