<!DOCTYPE html>
<html>
<head>
    <title>Game Store</title>
    <link href="~/css/GameStore/reset.css" rel="stylesheet" />
    <link href="~/css/GameStore/style.css" rel="stylesheet" />    
</head>
<body>
    <header class="page-header">
        <div class="logo">
            <img src="~/images/GameStore/logo.webp" alt="logo" />
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/GameStore">Main</a></li>
                <li><a href="/GameStore/Shop">Shop</a></li>
                <li><a href="/GameStore/Library">Library</a></li>
                <li><a href="/GameStore/Add">Add</a></li>
            </ul>
        </div>
        <button>logout</button>
    </header>
    <div class="menu-plus-content">
        <div class="menu">
            <div class="title1">Browse Studios</div>
            <ul>
                <li><a href="/GameStudios">Studios</a></li>
                <li><a href="/GameStudios/Add">Add Studio</a></li>
            </ul>
            <div class="title2">Browse Categories</div>
            <ul>
                <li><a href="#">Top Sellers</a></li>
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Upcoming</a></li>
            </ul>
            <div class="title3">Hardware</div>
            <ul>
                <li><a href="#">Steam Deck</a></li>
                <li><a href="#">Steam Deck Dock</a></li>
                <li><a href="#">VR Hardware</a></li>
            </ul>
            <div class="title4">Browse by Genre</div>
            <ul>
                <li><a href="#">Free To Play</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">RPG</a></li>
                <li><a href="#">Racing</a></li>
            </ul>

        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>

