<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cake</title>
    <link rel="stylesheet" href="/css/Cake/style.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Main</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Add Cake</a></li>
                    <li><a href="#">Add magazin</a></li>
                    <li><a href="#">View my creations</a></li>
                </ul>
            </nav>
            <div class="profile">
                <img src="~/images/Cake/Profile.jpg" alt="profile">
            </div>
        </div>
    </header>

    <main>
        <section class="list-cakes">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </main>
</body>
</html>