<script src="~/js/notifications.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />
<div class="notifications-container">
    <div class="notification template hidden" data-id="0">
        <div class="flex">
            <span class="message">message</span>
            <i class="icon close"></i>
        </div>
    </div>
</div>