@using WebPortalEverthing.Models.Surveys

@model TakingSurveyIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutSurveys.cshtml";
}

<div class="main-content-title">
    <span>Прохождение опроса</span>
</div>
<div>
    <input id="taking-id" value="@Model.Id" type="hidden" />
    <input id="survey-id" value="@Model.SurveyId" type="hidden" />
    <div>
        <label>
            Название опроса
            <h5>@Model.SurveyTitle</h5>
        </label>
    </div>
    <div class="questions">
        @foreach (var question in Model.Questions)
        {
            @Html.Partial("/Views/Surveys/Question.cshtml", question)
        }
    </div>
</div>