@{
    Layout = "~/Views/Shared/_LayoutDND.cshtml";
}

<div class="main-info">
    <div class='newsLine'>
        <div class="article">
            <h2>Всем привет</h2>
            <p>Абзац 1</p>
            <p>Абзац 2</p>
        </div>
        <div class="article">
            <h2>Снова привет</h2>
            <p>Абзац 1</p>
            <p>Абзац 2</p>
        </div>
    </div>
</div>