@using WebPortalEverthing.Models.Surveys

@{
    Layout = "~/Views/Shared/_LayoutSurveys.cshtml";
}

@model List<SurveyGroupViewModel>

<div class="main-content-title">
    Группы опросов
</div>
<div>
    <a class="btn btn-sm btn-success" asp-controller="SurveyGroup" asp-action="Create">Создать новую группу</a>
</div>
<div class="survey-group-page">
    @foreach (var group in Model)
    {
        <div class="survey-group">
            <div class="title">
                @group.Title
            </div>
            <div>
                <hr />
            </div>
            <div class="actions d-flex">
                <div class="mx-1">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@group.Id">Редактировать</a>
                </div>
                <div class="mx-1">
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@group.Id">Удалить</a>
                </div>
            </div>
        </div>
    }
</div>