.log {
    box-shadow: 3px 4px 0px 0px #57312c;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border-radius: 28px;
    border: 2px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

    .log:hover {
        background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
        background-color: #634b30;
    }

    .log:active {
        position: relative;
        top: 1px;
    }
