@using Everything.Data.Interface.Enums
@using WebPortalEverthing.Models.Surveys

@model SurveyCreateViewModel

@{
    Layout = "~/Views/Shared/_LayoutSurveys.cshtml";
}

<div class="main-content-title">
    <span>Создание нового опроса</span>
</div>
<form class="new-survey" method="post">
    <div class="round-border">
        <div>
            @Html.TextBoxFor(x => x.SurveyGroup.Id, new { type = "hidden" })
        </div>
        <div>
            <label>
                Группа:
                @Html.TextBoxFor(x => x.SurveyGroup.Title, new { disabled = "true" })
            </label>
        </div>
        <div>
            <label>
                Название опроса
                @Html.TextBoxFor(x => x.Title)
            </label>
        </div>
    </div>
    <div class="questions">
        @foreach (var question in Model.Questions)
        {
            @Html.Partial("Question", question)
        }
    </div>
    <div class="add-question round-border">
        <button type="submit" asp-action="AddQuestion">Добавить вопрос</button>
    </div>
    <div class="actions">
        <button class="save-button" type="submit">Сохранить</button>
    </div>
</form>