@using WebPortalEverthing.Models.Surveys

@model SurveyCreateViewModel

@{
    Layout = "~/Views/Shared/_LayoutSurveys.cshtml";
}

<div class="main-content-title">
    <span>Создание нового опроса</span>
</div>
<form class="new-survey" method="post">
    <div>
        @Html.TextBoxFor(x => x.SurveyGroup.Id, new { type = "hidden" })
    </div>
    <div>
        <label>
            Группа:
            @Html.TextBoxFor(x => x.SurveyGroup.Title, new { disabled = "true" })
        </label>
    </div>
    <div>
        <label>
            Название опроса
            @Html.TextBoxFor(x => x.Title)
        </label>
    </div>
    <div>
        <label>
            Описание
            @Html.TextAreaFor(x => x.Description)
        </label>
    </div>
    <div class="actions">
        <button class="save-button" type="submit">Сохранить</button>
    </div>
</form>