<div>
    <a href="/Notification/Create">Создать уведомление</a>
</div>
<div>
    Показать мгновенно уведомления.
    <form action="/Notification/Notify">
        <input name="message" placeholder="Enter message for notification" />
        <button type="submit">Уведомить всех на сайте</button>
    </form>
</div>