@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_LayoutServiceCenter.cshtml";
}

<main>
    <section id="news">
        <div class="news-container">
            <h2 class="section-title">Последние новости</h2>
            <div class="news-item">
                <div class="news-content">
                    <img src="~/images/ServiceCenter/news1_discount_placeholder.png" alt="Новость 1">
                    <h3>Новая акция!</h3>
                    <p>Скидки до 20% на ремонт техники! *Если она ранее уже подвергалась ремонту в нашем сервисе</p>
                </div>
            </div>
            <div class="news-item">
                <div class="news-content">
                    <img src="~/images/ServiceCenter/news2_open_placeholder.png" alt="Новость 2">
                    <h3>Открытие нового филиала</h3>
                    <p>Где-то.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="catalog">
        <div class="catalog-container">
            <h2 class="section-title">Каталог услуг</h2>
            <div class="services">
                <div class="service-type-item">
                    <div class="service-content">
                        <img src="~/images/ServiceCenter/fix_phone.jpg" alt="Ремонт телефонов">
                        <h3>Ремонт телефонов</h3>
                        <p>Если ремонт не устроит - выкупим на перепродажу!</p>
                    </div>
                </div>
                <div class="service-type-item">
                    <div class="service-content">
                        <img src="~/images/ServiceCenter/fix_notebook.png" alt="Ремонт ноутбуков">
                        <h3>Ремонт ноутбуков</h3>
                        <p>Если останутся лишние детали - вернём!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
