:root {
    --background-color: #1a1a1a;
    --text-color: #f0f0f0;
    --header-background-color: #333333;
    --border-color: #666666;
    --highlight-color: #cccccc;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    /*background-image: url("../../images/Ecology/background-dark.JPG");*/
    background-size: cover;
    background-repeat: no-repeat;
}

header.head-page {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background-color) !important;
    height: 80px;
    align-items: center;
    font-size: 25px;
    border-bottom: 3px var(--border-color) solid;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-left: 10px;
    max-height: 50px;
    border-radius: 50px;
    border: 2px solid var(--highlight-color);
    width: 70px;
}

header .reg-auth {
    display: flex;
    gap: 10px;
}

.return-home {
    background-image: url(../../images/Ecology/home.jpg);
    background-size: cover;
    box-shadow: inset 0px 1px 3px 0px var(--border-color);
    border-radius: 13px;
    border: 1px solid var(--border-color);
    display: inline-block;
    cursor: pointer;
    color: var(--text-color);
    font-family: Arial;
    width: 42px;
    height: 22px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #000000;
    transition: transform 0.3s ease-in-out;
}

.return-home:hover {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #444444 5%, #333333 100%);
    background-color: #222222;
}

.return-home:hover::after {
    content: "home";
    display: flex;
    align-items: center;
    color: var(--highlight-color);
}

.return-home:active {
    position: relative;
    top: 2px;
}

.post {
    margin-bottom: 20px;
}

.post-image {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 20px;
}

.post-text {
    color: var(--highlight-color);
    font-weight: bold;
}

.users .role {
    border: 1px var(--highlight-color) solid;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.users .roles {
    border: 1px var(--highlight-color) solid;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}
